main{
    margin-top: 100px;
    padding: 20px;
    color: var(--text-color);
    width: 100%;
    display: flex;
    justify-content: center;
}
.posts{
    width: 80%;
}
.post{
    padding-bottom: 5px;
}
.post + .post{
    margin-top: 5px;
    border-top: 2px solid var(--yellow);
}
.post h3 a{
    color: var(--text-color);
}
